@import '../../../../styles.scss';

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-form .title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.signup-form p {
  font-size: 15px;
  color: $text-color;
}

.signup-form p span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: $highlight-color;
}

.signup-form .terms {
  font-size: 14px;
  color: $text-color;
}

.signup-form .terms span span {
  font-weight: 400;
  font-size: 13px;
  color: $text-color;
  color: black;
}
