.auth-container {
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
}

.auth-container .auth-leftside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;

  img {
    width: 100%;
    height: auto;
  }
}

.auth-rightside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .auth-container {
    display: flex;
    flex-direction: column;
  }

  .auth-container .auth-leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
