@import '../../../../styles.scss';

.login-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.login-leftside {
  flex: 1;
  background-color: #f3f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .login-leftside img {
  max-width: 180%;
  height: 100%;
}

.login-rightside {
  flex: 1;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.login-rightside p a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: $highlight-color;
}

.login-container .login-rightside div {
  font-size: 50px;
}

.login-container .login-rightside p {
  color: $text-color;
  font-size: 16px;
}
